.sidebar-nav li a.on {
    text-decoration: none;
    color: #fff;
    background: rgb(0, 109, 252);
}

.first {
    display: block;
}

#page-content-wrapper > .container-fluid > div:not(.first) {
    display: none;
}

.autocols-2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

.autocols-3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

.pull-left {
    float: left;
}

@media(max-width: 768px) {
    .autocols-2,
    .autocols-3 {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}