.sidebar-nav li a.on,
.sidebar-nav li a.on:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgb(0, 110, 255, 0.6);
}

.sidebar-nav li a:hover {
    background: rgba(128, 128, 128, 0.2);
}

.first {
    display: block;
}

#page-content-wrapper > .container-fluid > div:not(.first) {
    display: none;
}

.autocols-2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

.autocols-3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

.pull-left {
    float: left;
}

@media(max-width: 768px) {
    .autocols-2,
    .autocols-3 {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}